.features {
	padding-top: 94px;
	padding-bottom: 94px;
}

.features-list {
	display: flex;
}

.features-item {
	width: 270px;
}

.features-item:not(:last-child) {
	margin-right: 30px;
}

.features-icon-item {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;

	background-color: var(--secondary-background-color);
	border-radius: 4px;
}

.features-title {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}