%container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

%section {
	padding-top: 94px;
	padding-bottom: 94px;
}

%link {
	text-decoration: none;
}

%title {
	color: $title-color;
}

%list {
	list-style: none;
}

%btn {
	border: none;
	font-family: inherit;
	background-color: transparent;

	cursor: pointer;
}